[Desktop Entry]
Version=1.0
Name=Terminal
Exec=cyber-terminal
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
StartupNotify=true
